body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../images/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.heading {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}

.title-text {
  font-size: 100px;
  letter-spacing: 10px;
}
